.toybox .counting {
  section {
    width: 100%;
    max-width: 600px;
    margin: 40px auto;
    text-align: center;
  }

  .current-number {
    font-size: 256px;
    color: $green;
    width: 100%;
    margin: 16px 0 0;
    line-height: 1em;
    font-family: 'Fredoka One', cursive;
  }

  .current-number-word {
    margin: 0 0 .16em;
    font-size: 32px;
    color: $green;
    width: 100%;
    line-height: 1em;
  }

  .mistakes {
    font-size: 14px;
    margin: 15px auto;
  }

  .message {
    font-size: 28px;
    margin: 15px auto;
  }

  .options {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    position: relative;
  }

  .option {
    display: inline-block;
  }

  .option a {
    position: relative;
    width: 160px;
    display: inline-block;
    font-size: 48px;
    color: white;
    padding: 12px 48px;
    border-radius: 16px;
    margin: 16px;
    background-color: $orange;
    box-shadow: 0 16px $orange_dark;
    border: 2px solid $orange_darker;
    text-decoration: none;
    line-height: 1em;
    font-family: 'Fredoka One', cursive;
    top: 0;
  }

  .option:first-child a {
    background-color: $red;
    box-shadow: 0 16px $red_dark;
    border-color: $red_darker;
  }

  .option:last-child a {
    background-color: $blue;
    box-shadow: 0 16px $blue_dark;
    border-color: $blue_darker;
  }

  .option a:active {
    top: 16px;
    box-shadow: none;
  }

  .option a[disabled] {
    color: $smoke;
    background-color: $grey;
    box-shadow: 0 16px $grey_dark;
    border-color: $grey_darker;
    animation: shake 0.82s cubic-bezier(.33,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    perspective: 1000px;
  }

  .option a[disabled]:active {
    top: 0;
    box-shadow: 0 16px $smoke;
  }
}

@media (max-width: 500px) {
  .toybox .counting {
    .current-number {
      font-size: 192px;
    }

    .message {
      font-size: 18px;
    }

    .option a {
      width: 92px;
      font-size: 24px;
      padding: 12px 24px;
      margin: 6px;
      box-shadow: 0 12px $orange_dark;
    }

    .option:first-child a {
      box-shadow: 0 12px $red_dark;
    }

    .option:last-child a {
      box-shadow: 0 12px $blue_dark;
    }

    .option a:active {
      box-shadow: none;
    }

    .option a[disabled] {
      box-shadow: 0 12px $grey_dark;
    }

    .option a[disabled]:active {
      box-shadow: 0 12px $smoke;
    }
  }
}
