.toybox .counting {
  section {
    width: 100%;
    max-width: 600px;
    margin: 30px auto;
    text-align: center;
  }

  .current-number {
    font-size: 192px;
    color: $green;
    width: 100%;
    margin: 16px 0 0;
    line-height: 1em;
    font-family: 'Fredoka One', cursive;
  }

  .current-number-word {
    margin: 0 0 .16em;
    font-size: 32px;
    color: $green;
    width: 100%;
    line-height: 1em;
  }

  .message {
    font-size: 28px;
  }

  .options {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    position: relative;
  }

  .option {
    width: 160px;
    position: relative;
    display: inline-block;
    font-size: 48px;
    color: white;
    padding: 12px 48px;
    border-radius: 16px;
    margin: 16px;
    background-color: $orange;
    box-shadow: 0 16px $orange_dark;
    border: 2px solid $orange_darker;
    text-decoration: none;
    line-height: 1em;
    top: 0;
    font-family: 'Fredoka One', cursive;
  }

  .option:first-child {
    background-color: $red;
    box-shadow: 0 16px $red_dark;
    border-color: $red_darker;
  }

  .option:last-child {
    background-color: $blue;
    box-shadow: 0 16px $blue_dark;
    border-color: $blue_darker;
  }

  .option:active {
    top: 16px;
    box-shadow: none;
  }

  .option[disabled] {
    color: $smoke;
    background-color: $grey;
    box-shadow: 0 16px $grey_dark;
    border-color: $grey_darker;
  }

  .option[disabled]:active {
    top: 0;
    box-shadow: 0 16px $smoke;
  }
}

@media (max-width: 500px) {
  .toybox .counting {
    .current-number {
      font-size: 128px;
    }

    .current-number-word {
      font-size: 22px;
    }

    .message {
      font-size: 18px;
    }

    .display,
    .controls {
      margin: 15px 0;
    }

    .option {
      width: 72px;
      font-size: 18px;
      padding: 12px 24px;
      margin: 8px;
    }
  }
}
