@import "css/reset.css";
@import "css/theme";
@import "css/utils";
@import "css/counting";

body {
  font-family: $font;
  color: $void;
  -webkit-font-smoothing: antialiased;
}

.masthead {
  text-align: center;
  font-weight: bold;
  color: $void;
  background-color: #efefef;
  padding: 5px;
  border-bottom: 2px solid #dfdfdf;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 300px;
}

a,
a:visited,
a:link,
a:active {
  color: $green;

  &:hover {
    color: $green_dark;
  }
}
